<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">


    <insert id="insertSetmeal" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO setmeal
        (category_id,name, price, description, image, status, create_time, update_time, create_user, update_user)
        VALUES
        (#{categoryId},#{name},#{price},#{description},#{image},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        SELECT setmeal.*, category.name AS categoryName
        FROM setmeal LEFT JOIN category
        ON setmeal.category_id = category.id
        <where>
            <if test="name != null and name != ''">and name like concat('%',#{name},'%')</if>
            <if test="categoryId != null">and category_id = #{categoryId}</if>
            <if test="status != null">and setmeal.status = #{status}</if>
        </where>
        ORDER BY category.sort ASC
    </select>
</mapper>




